/* style.css */

body {
    font-family: Montserrat, sans-serif;
    background: url('img/phone2.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: adds a semi-transparent background to header */
    padding: 20px;
    border-radius: 10px;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1, h2 {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 10px 0;
    color: white;
    animation: slideIn 0.5s ease forwards;
}

#table {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.9); /* Optional: adds a semi-transparent background to table */
    padding: 20px;
    border-radius: 10px;
}

#table table {
    width: 100%;
    border: 1px solid #ccc;
}

#table tr {
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#table tr:hover {
    background-color: #f1f1f1;
}

#table tr:hover {
    background-color: #f1f1f1;
    transform: scale(1.05); /* Scale up the row */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

#table tr:hover h5 {
    color: blue;
}

#table td {
    padding: 10px;
    vertical-align: middle;
}

#table img {
    border-radius: 50%;
}

button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

h5 {
    margin: 0;
}

input[type="text"] {
    color: deepskyblue;
}

label {
    color: deepskyblue;
}

input[type="text"] {
    font-weight: 900;
}

label {
    font-weight: 900;
}

#avatarImage img:hover {
    transform: scale(1.1); /* Scale up the image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
}
